:root {

    /*WALLET STATUS*/
    --walletstatus-fz: clamp(0.5rem, 1vw, 2vw);

    /*MAIN BODY*/

}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
}

.sidebar {
    width: 100%;
    height: 100vh;
    background-color: #131722;
    display: grid;
    grid-template-rows: 15% 3% 7% 45% 3% 27%;
    grid-template-columns: 100%;
}
.sidebar__line{
    border: none;
    background-color: #383838;
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sidebar__line--hundred {
    width: 100%;
}
.sidebar__line--seventeen {
    width: 70%;
}
.sidebar__walletstatus {
    /*SELF*/
    width: 75%;
    height: 50%;
    margin: 3%;
    justify-self: center;
    align-self: flex-end;
    /*SONS*/
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
}
.sidebar__walletstatus__img {
    width: 75%;
}
.sidebar__walletstatus__text {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    gap: 10%;
}
.sidebar__walletstatus__text__detail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--walletstatus-fz);
    margin: 0px;
}
.sidebar__walletstatus__text__detail--grey{
    color: #868686;
}
.sidebar__walletstatus__text__detail--white{
    color: #ffffff;
}
.sidebar__search {
    /*SELF*/
    height: 50%;
    width: 70%;
    padding: 2%;
    border: none;
    border-radius: 10px;
    background-color: #090c13;
    border-bottom: solid #3a3d42;
    justify-self: center;
    align-self: center;
    /*SONS*/
    display: grid;
    grid-template-columns: 15% 75%;
    justify-content: center;
    align-items: center;
}
.sidebar__search__img{
    width: 70%;
}
.sidebar__search_submit{
    color: #b5bdc9;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--walletstatus-fz);
}
.sidebar__menu{
    /*SELF*/
    width: 70%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-self: center;
    align-self: center;
    /*SONS*/
    transform: translate(-3%, 0%);
}
.sidebar__menu__item{
    /*SELF*/
    width: 100%;
    height: 7.78%;
    margin-top: 2.5%;
    padding: 2.85%;
    border-radius: 10px;
    background-color: transparent;
    justify-self: center;
    align-self: center;
    pointer-events: auto;
    /*SONS*/
    display: grid;
    grid-template-columns: 15% 75%;
    justify-content: center;
    align-items: center;
}
.sidebar__menu__item--nochoose:hover{
    background-color: #242938;
}
.sidebar__menu__item__img{
    width: 70%;
    justify-self: start;
    align-self: center;
}
.sidebar__menu__item__text{
    text-decoration: none;
    color: #495a73;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--walletstatus-fz);
    pointer-events: none;
}
.sidebar__menu__item--choose{
    background-color: #007aff;
}
.sidebar__menu__item__text--choose{
    color: white;
}
.sidebar__menu__item--resize{
    height: 12.967%;
}
.sidebar__menu__item--bottom{
    justify-self: start;
}

.mainbody {
    background-color: #090c13;
    width: 85vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 7vh 7vh 86vh;
    grid-template-columns: 85vw;
}
.mainbody__itempage{
    width: 81vw;
    height: 5vh;
    padding: 1vh 2vw 1vh 2vw;
    display: grid;
    grid-template-columns: 78.95vw 4.05vw;
    align-items: flex-end;
    border: 1px solid #232323;
    border-style: none none solid none;
}
.mainbody__itempage__name__text{
    font-size: clamp(1vw, 1.5vw, 2.5vw);
    color: white;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.mainbody__itempage__nick{
    justify-self: end;
    background-color: black;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbody__itempage__nick__text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: clamp(0.5vw, 1vw, 1.5vw);
    color: white;
    margin: 0%;
}
.mainbody__menu{
    width: 83vw;
    height: 5vh;
    padding: 1vh 0vw 1vh 0vw;
    margin: 0vh 0vw 0vh 2vw;
    border: 1px solid #232323;
    border-style: none none solid none;
    list-style-type: none;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 6vw);
    gap: 5vw;
}
.mainbody__menu__item{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: clamp(0.5vw, 1vw, 1.5vw);
    color: #ababac;
    align-self: center;
    justify-self: center;
}
.mainbody__menucontent{
    width: 85vw;
    height: 86vh;
    display: grid;
    grid-template-columns: 70vw 15vw;
}
.mainbody__menucontent__showmetrics{
    padding: 4vh 2vw 4vh 2vw;
    display: inline-grid;
    grid-template-rows:min-content;
}
.mainbody__menucontent__showmetrics__showitmebar{
    padding: 2vh 2vw 2vh 2vw;
    border: 1px solid #232323;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    border-radius: 10px;
}
.mainbody__menucontent__showmetrics__shownumbers__item{
    display: grid;
    grid-template-columns: 0.8vw 5vw;
    grid-template-rows: 8vh;
}
.mainbody__menucontent__showmetrics__shownumbers__item__texts *{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.mainbody__menucontent__showmetrics__shownumbers__item__texts__header{
    font-weight: lighter;
    font-size: clamp(0.5vh, 1vh, 1.5vh);
}
.mainbody__menucontent__showmetrics__shownumbers__item__texts__quantity{
    padding: 0.5vh 0 0.5vh 0;
    font-size: clamp(1.6vh, 3.5vh, 4vh);
}
.mainbody__menucontent__showmetrics__shownumbers__item__texts__percentage{
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
}
.mainbody__menucontent__showmetrics__shownumbers__item__texts__percentage__number{
    font-weight: lighter;
    font-size: clamp(0.5vh, 1vh, 1.5vh);
}