body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.sidebar{
    background-color: #131722;
}
.dashboard{
    background-color: #090c13;
}